@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/content/images/bg/bg3.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Thông tin</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="#">Trang chủ</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="letter-space-4 text-gray-darkgray text-uppercase mt-0 mb-0">Thông tin</h6>
                        <h2 class="text-uppercase font-weight-600 mt-0 font-28 line-bottom">
                            TRUNG TÂM NGOẠI NGỮ- TIN HỌC
                        </h2>
                        <h4 class="text-theme-colored">
                            Tên tiếng Việt : Trung tâm ngoại ngữ - tin học
                            <br />Tên tiếng Anh : Foreign Languages and Informatics Center
                        </h4>
                        <p>
                            TRUNG TÂM NGOẠI NGỮ - TIN HỌC tiền thân là Trung tâm ngoại ngữ, được thành lập vào tháng 4 năm 2006
                            đến năm 2014 trung tâm ngoại ngữ sát nhập với Trung tâm tin học và có tên chính thức là Trung Tâm Ngoại Ngữ - Tin học
                        </p>
                        <a class="btn btn-theme-colored btn-flat btn-lg mt-10 mb-sm-30" href="/home/about">Xem thêm →</a>
                    </div>
                    <div class="col-md-6">
                        <div class="video-popup">
                            <a href="https://www.youtube.com/watch?v=pW1uVUg5wXM" data-lightbox-gallery="youtube-video"
                               title="Video">
                                <img alt="" src="~/Content/images/about/5.jpg" class="img-responsive img-fullwidth">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><section class="">

    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="/Content/images/bg/bg2.jpg"
             data-parallax-ratio="0.7">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-smile mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="5248"
                            class="animate-number text-white mt-0 font-38 font-weight-500">
                            0
                        </h2>
                        <h5 class="text-white text-uppercase mb-0">Học viên</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-note2 mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="675"
                            class="animate-number text-white mt-0 font-38 font-weight-500">
                            0
                        </h2>
                        <h5 class="text-white text-uppercase mb-0">Khóa học</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-users mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="248"
                            class="animate-number text-white mt-0 font-38 font-weight-500">
                            0
                        </h2>
                        <h5 class="text-white text-uppercase mb-0">Giảng viên</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
                    <div class="funfact text-center">
                        <i class="pe-7s-cup mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="24"
                            class="animate-number text-white mt-0 font-38 font-weight-500">
                            0
                        </h2>
                        <h5 class="text-white text-uppercase mb-0">Thành tích</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Why Choose Us -->
    <section id="event" class="">
        <div class="container pb-50">
            <div class="section-content">
                <div class="row">

                    <div class="col-md-6">
                        <h3 class="line-bottom mt-0 line-height-1"> <span class="text-theme-color-2">Choose Us?</span></h3>
                        <p class="mb-10">
                            Trong thời đại ngày nay, Tin học - Ngoại ngữ đã đang là một phần không thể thiếu để phục vụ con người trong học tập,
                            công việc và cuộc sống. Các lớp Anh văn đầu ra , Tin học văn phòng tại trung tâm được bảo chứng cao về uy tính và chất lượng
                            <br /> Hãy trang bị kiến thức bổ ích cho bản thân ngay hôm nay các bạn nhé !
                        </p>
                        <div id="accordion1" class="panel-group accordion">
                            <div class="panel">
                                <div class="panel-title">
                                    <a class="active" data-parent="#accordion1" data-toggle="collapse"
                                       href="#accordion11" aria-expanded="true">
                                        <span class="open-sub"></span> Chương trình học đa dạng
                                    </a>
                                </div>
                                <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                                    <div class="panel-content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus
                                            provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                            iure poss imusven am aliquam
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title">
                                    <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12"
                                       class="" aria-expanded="true"> <span class="open-sub"></span> Cơ sở vật chất tốt</a>
                                </div>
                                <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                    <div class="panel-content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus
                                            provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                            iure poss imusven am aliquam
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title">
                                    <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13"
                                       class="" aria-expanded="true"> <span class="open-sub"></span> Đội ngũ giảng viên giàu kinh nghiệm </a>
                                </div>
                                <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                    <div class="panel-content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus
                                            provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                            iure poss imusven am aliquam
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title">
                                    <a data-parent="#accordion1" data-toggle="collapse" href="#accordion14"
                                       class="" aria-expanded="true"> <span class="open-sub"></span> Giờ học linh hoạt </a>
                                </div>
                                <div id="accordion14" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                                    <div class="panel-content">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus
                                            provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                            iure poss imusven am aliquam
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    